include _includes/default-layout
h2 LOREM IPSUM
p.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Earum, repudiandae aspernatur fugiat sequi laborum quod 
    aliquam recusandae maiores obcaecati, iusto, ipsum ipsa 
    itaque expedita consectetur culpa iste labore harum 
    perspiciatis.