include _includes/default-layout
h2 LOREM IPSUM
p.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Earum, repudiandae aspernatur fugiat sequi laborum quod 
    aliquam recusandae maiores obcaecati, iusto, ipsum ipsa 
    itaque expedita consectetur culpa iste labore harum 
    perspiciatis.

p
  :markdown-it(inline) **BOLD TEXT**

p.
    In the midst of a large amount of plain
    text, suddenly a wild #[:markdown-it(inline) *Markdown*]
    appeared.

:markdown-it
    # THIS IS A NEW HEADING
    **This is some Bold Text**
    >>>
    ## THIS IS A NEW SUB-HEADING
    *This is some Italic Text*

    ### THIS IS A PARAGRAPH OF TEXT
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Eos placeat dolores natus harum, impedit nihil perspiciatis eveniet, 
    ratione ut, quaerat nobis odio adipisci nisi quod possimus magni 
    repellat? Ducimus, at!
