doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width= , initial-scale=1.0")
        title JOE BLOGS
    body
        nav
            ul
                li
                    a(href="/") HOME
                li
                    a(href="/about") ABOUT
                li
                    a(href="/blog") BLOG
        h1 JOE BLOGS
        h1 
            em The Art of Spoken Wordery
